table{
  border-collapse: collapse;
}
.border{
  border: 1px solid black;
  width:100px;
  height: 100px;
  text-align: center;
}
.center{
  margin: auto;
}
.red{
  background-color: rgb(180,0,0,0.5);
}
.grey{
  background-color: lightgrey;
}
