table{
  border-collapse: collapse;
}
img{
  border-collapse: collapse;
  margin:0;
  width: 160px;
  height: 155px;
}

h1,h2{
  margin:auto;
  text-align: center;
}

.border{
  border: 1px solid black;
  width:100px;
  height: 100px;
  text-align: center;
}
.center{
  margin: auto;
}
.red{
  background-color: rgb(180,0,0,0.5);
}
.grey{
  background-color: lightgrey;
}
.white{
  background-color: white;
  width: 160px;
  height: 155px;
}
.hide{
  /* display:none; */
}
.xo{
  display:none;
}

.border.red{
  display:none;
}
